.header {
  display: flex;
  justify-content: space-between;
  /* gap: 9%; */
  padding-top: 1%;
  padding-bottom: 1%;
  padding-right: 2%;
}

.qugoLogo {
  margin-top: 9px;
  padding-left: 2%;
}

.CorpLogo {
  width: 100px;
  padding-right: 4px;
}

.switch {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.10000000149011612px;
  text-align: center;
  color: #028fa3;
}

.switchContainer {
  background: #169cb01a;
  width: fit-content;
  border-radius: 10px;
  padding: 1%;
}

.closeButton {
  padding: 2% 3%;
  border: none !important;
  outline: none !important;
  background: transparent;
  color: #028fa3;
  position: absolute;
  font-size: 20px;
  top: 0;
  right: 0;
  border-top-right-radius: 8px;
}

.qugoHeaderLogo {
  width: 60px;
  height: 25px;
  cursor: pointer;
}

.posiflexcontainer {
  display: block;
  /* z-index: 999; */
  position: relative;
}

.posiflexcontainer1 {
  display: none;
}

.posiflexLogo {
  display: block;
  width: 130px;
  cursor: pointer;
  height: 45px;
  top: 10px;
  left: 1095px;
  padding: 13px 23px 8px 24px;
  gap: 10px;
  border-radius: 6px;
  opacity: 1px;
  background: linear-gradient(90deg, #8a2124 0%, #ee3124 100%);
  box-shadow: 0px 4px 4px 0px #00000040;
}

.loginNavbar {
  align-self: center;
  /* padding-right: 2%; */
  text-wrap: nowrap;
  margin-left: 2%;
  background-color: none;
}

.loginText {
  display: flex;
  margin-bottom: 7px;
  cursor: pointer;
  white-space: nowrap;
  align-items: center;
}

.walletContainerHead {
  display: flex;
  /* padding-right: 30px; */
}

.walletHeaderContainer {
  float: left;
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 13px;
  width: max-content;
  height: 42px;
  padding-right: 20px;
  margin-bottom: 10px;
  cursor: pointer;
}

.walletContainer {
  float: left;
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 13px;
  background: #028fa34d;
  width: fit-content;
  height: 38px;
  cursor: pointer;
  /* padding-right: 30px; */
}

.innerContainer {
  display: flex;
  align-items: center;
}

.walletLogo {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.walletInfo {
  font-size: 11px;
  color: rgba(2, 143, 163, 1);
  margin-left: 6px;
}

.walletLabel {
  color: #028fa3;
  font-weight: bold;
}

.rechargeLink {
  display: none;
  color: rgba(150, 163, 2, 1);
  cursor: pointer;
}

.walletdiv {
  display: flex;
}

.walletAmount {
  color: #028fa3;
  margin-right: 4px;
  text-wrap: nowrap;
}

.loginText1 {
  display: block;
}

@media (max-width: 550px) {
  .walletLabel {
    display: none;
  }

  .walletdiv {
    display: block;
  }

  .walletContainer {
    width: 120px;
  }

  .walletAmount {
    font-size: 10px;
    /* color: #FFFFFF; */
    margin-left: 4px;
    font-weight: 400;
  }

  .loginText1 {
    display: none;
  }

  .posiflexLogo {
    width: 100px;
    height: 36px;
  }

  .closeButton {
    padding: 2% 4%;
    border: none;
    background: transparent;
    color: #028fa3;
    position: absolute;
    top: 0;
    right: 0;
    border-top-right-radius: 8px;
  }

  .switchContainer {
    display: none;
  }
}
