.promotionCards {
  background-color: #ffffff;
  margin-top: 3%;
  text-align: center;
}

.promotionHeading {
  color: black;
  font-variant: small-caps;
  margin-bottom: 1%;
  font-size: 2vw;
  font-weight: 500;
}

.promotionCardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: calc(175% / 2);
  /* padding: 3%; */
  padding-left: 2.5%;
  padding-right: 2.5%;
  padding-top: 3%;
  padding-bottom: 1%;
  margin: 50px auto;
  border-radius: 16px;
  background: #f8f8f8;
  box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.25);
}

.promotionCard {
  position: relative;
  width: calc(50% - 30px);
  height: 220px;
  margin-bottom: 2%;
  border: none;
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  cursor: pointer;
}

@media (min-width: 551px) and (max-width: 820px) {
  .promotionCard {
    width: calc(53% - 30px);
    height: 170px;
  }
}

.textOverlay {
  position: absolute;
  top: 0%;
  left: 0%;
  /* transform: translate(-90%, -50%); */
  text-align: left;
  color: #ffffff;
  height: 100%;
  padding: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-overflow: ellipsis;
  background-image: linear-gradient(to right, #00000082, #ffffff00);
  border-radius: 10px;
  background: linear-gradient(
    77deg,
    rgba(0, 0, 0, 0.95) -3.09%,
    rgba(0, 0, 0, 0) 83.13%
  );
}

.overlayHeading {
  font-size: 1.6rem;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.overlayDescription {
  font-size: 14px;
  font-weight: 500;
  text-align: justify;
  margin: 0;
  text-align: justify;
  width: 75%;
  height: 25%;
  margin-top: 0px;
  background: none !important;
}

.promoCardBg {
  width: 100%;
  height: -webkit-fill-available;
  object-fit: cover;
  border-radius: inherit;
}

.headingUnderline {
  width: 9%;
  margin-left: 45%;
  height: 4px;
  background: linear-gradient(90deg, #155EEF 0%, #6D28D9 100%);
  border-radius: 2px;
  margin-bottom: 10px;
}

.readMore {
  cursor: pointer;
  color: blue;
  /* margin-left: 4px; */
  text-decoration: underline;
}

@media (max-width: 550px) {
  .promotionCards {
    display: none;
  }

  .overlayDescription {
    background: none !important;
  }

  .promoCardBg {
    border-radius: 8px;
  }

  .overlayHeading {
    margin-top: 30%;
  }
}
